<div class="main-content">
  <div class="container-fluid">

    <div *ngIf="edit != true">
      <table style="width: 100%;">
        <tr>
          <td>

            <h2>{{user?.name}} - {{user?.email}}</h2>
            <h3>{{user?.id}}</h3>

          </td>

          <td style="text-align: right;">
            <div style="display: flex; flex-direction: column; align-items: center">
              <div style="display: flex; flex-direction: column; align-items: center;">
                <button class="btn btn-outline-primary" (click)="editUser()" style="width: 150px; margin-bottom: 10px">Edit user</button>
                <button class="btn btn-outline-primary" (click)="deleteUser()" style="width: 150px">Delete user</button>
              </div>
            </div>
          </td>

        </tr>
      </table>

      <hr>

      <div style="display: flex; flex-wrap: wrap;">
        <button *ngFor="let device of devices" class="btn btn-outline-primary"
                style="margin-top: 10px; margin-bottom:10px; margin-right: 10px">{{device}}</button>
      </div>

<!--      <form (ngSubmit)="addDevice()">-->
<!--        <mat-form-field style="width: 500px">-->
<!--          <mat-label>Add device</mat-label>-->
<!--          <mat-select [(ngModel)]="newDeviceInputValue" name="newDevice">-->
<!--            <mat-option *ngFor="let device of freeDevices" [value]="device">{{device}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

<!--        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px; margin-left: 15px;">Add device</button>-->
<!--      </form>-->

      <form (ngSubmit)="addDevice()">

        <div>
          <mat-form-field style="width: 500px">
            <mat-label>Add device</mat-label>
            <mat-select [(ngModel)]="newDeviceInputValue" name="newDevice">
              <mat-option *ngFor="let device of freeDevices" [value]="device">{{device}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Add device</button>
        </div>

      </form>


    </div>

    <div *ngIf="edit == true">
      <app-new-user [nameInputValue]="user!.name" [emailInputValue]="user!.email" [passwordInputValue]="user!.password"
                    [roleInputValue]="role"
                    [buttonText]="'Save changes'" [givenUser]="user!"
                    [updateUser]="true"></app-new-user>
    </div>

  </div>
</div>
